.card {
  .ui.card {
    &.first-child {
      margin-top: 1em;
    }
  }
  .iki-img-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    .header {
      min-height: 3em;
    }
  }
}
